<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
 <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
 <link rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Sans+Pro" rel="stylesheet">
</head>
<body >


<div id='header'>
  <span class='headers'>
   <a href='/'>Home</a>
  </span>
 <span class='headers'>
  <a href='/dataviz'>Data-Viz</a>
 </span>
  <span class='headers'>
  <a href='/datajournalism'>Data-Journalism</a>
 </span>
  <span class='headers'>
  <a href='/webapps'>Web-Apps</a>
 </span>
 <span class='headers'>
  <a href='/blog'>Blog-Post</a>
 </span>
 <span class='headers'>
  <a href='https://github.com/nharrisanalyst'>GitHub</a>
 </span>
  <span class='headers'>
  <a href='/Resume'>Resume</a>
 </span>
</div>
