

{{> header }}

<a href = "https://nharrisanalyst.github.io/freeagentdashboard/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/freeagentim.jpg"  width='150' height"86"> 2016 Free Agent Dashboard</a>

<br>
<br>
<br>

<a href = "https://nharrisanalyst.github.io/nbaSalaryStacked/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/stackedsalaryimage.jpg"  width='150' height"86"> NBA Salary Cap Explorer 2016</a>


<br>
<br>
<br>

<a href = "https://nharrisanalyst.github.io/sacdemprimary/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/demprimaryim.jpg"  width='150' height"86"> Sacramento 2016 Democrat Presidential Primary</a>
<br>
<br>
<br>

<a href = "https://nharrisanalyst.github.io/mcfc2017/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/Minutes_Chart.png"  width='150' height"86">Manchest City Football Club 2016-2017 Minutes Played Per Player</a>

<br>
<br>
<br>

<a href = "https://nharrisanalyst.github.io/beerviz/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/beerviz.png"  width='150' height"86">Beer Viz a data visualization of Over 100 Craft Beers</a>

<br>
<br>
<br>

<a href = "https://nharrisanalyst.github.io/DraftLottery/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/draft_lottery_image.png"  width='150' height"86">2017 NBA Draft Lottery Odds</a>
</body>
