

{{> header }}
<div class="container-fluid">
<div id ='titleContainer' class="col-sm-8 col-sm-offset-2		col-md-4 col-md-offset-4" >
<h1 id='title'>Data-Viz</h1>
</div>
</div>
<a href = "https://nharrisanalyst.github.io/freeagentdashboard/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/freeagentim.jpg"  width='150' height"86"> 2016 Free Agent Dashboard</a>
<p></p>
<div class='lineDiv'></div>


<br>

<a href = "https://nharrisanalyst.github.io/nbaSalaryStacked/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/stackedsalaryimage.jpg"  width='150' height"86"> NBA Salary Cap Explorer 2016</a>

<p></p>
<div class='lineDiv'></div>


<br>

<a href = "https://nharrisanalyst.github.io/sacdemprimary/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/demprimaryim.jpg"  width='150' height"86"> Sacramento 2016 Democrat Presidential Primary</a>
<p></p>
<div class='lineDiv'></div>


<br>

<a href = "https://nharrisanalyst.github.io/mcfc2017/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/Minutes_Chart.png"  width='150' height"86">Manchest City Football Club 2016-2017 Minutes Played Per Player</a>
<p></p>
<div class='lineDiv'></div>


<br>

<a href = "https://nharrisanalyst.github.io/beerviz/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/beerviz.png"  width='150' height"86">Beer Viz a data visualization of Over 100 Craft Beers</a>

<p></p>
<div class='lineDiv'></div>


<br>

<a href = "https://nharrisanalyst.github.io/DraftLottery/"><img src="https://dry-headland-57694.herokuapp.com/images/dataViz_img/draft_lottery_image.png"  width='150' height"86">2017 NBA Draft Lottery Odds</a>
<p></p>
<div class='lineDiv'></div>
</body>
