{{> header }}

<div class="container-fluid">
<div id ='titleContainer' class="col-sm-8 col-sm-offset-2		col-md-4 col-md-offset-4" >
<h1 id='title'>Resume</h1>
</div>
</div>


<h3 id='miniTitle'>Skills</h3>

<div class='lineDiv'></div>
<br>

<ul>
  <li> <h4>UI Design and Engineering</h4>
    <ul>
      <li>Built SPAs with React</li>
      <li>Redux-React State managment developement expereince</li>
      <li>React-D3 implementation for Data Visualization Driven UI</li>
      <li>UI Design</li>
      <li> Bootstrap for Responsive multiple platform implementation</li>
    </ul>
</ul>
<br>
<ul>
  <li> <h4>Data Visualization</h4>
    <ul>
      <li>Over 18 months expereince D3.js</li>
      <li>Data Visualization Design for better data insight, Including the study of Tufte principles</li>
      <li>Interactive Data Visualization expereince for UI implimintation</li>
    </ul>
</ul>

<ul>
  <li> <h4>Testing</h4>
    <ul>
      <li>Jest for SPA TDD</li>
      <li>Enzyme for UI DOM testing</li>
    </ul>
</ul>

<h3 id='miniTitle'>Education</h3>

<div class='lineDiv'></div>
<br>

<ul>
  <li> <h4>FreecodeCamp Front End Development Certification</h4>
    <ul>
      <li>Received Sep 2017</li>
    </ul>
</ul>

<br>

<ul>
  <li> <h4>Actuary Exam1 probability</h4>
    <ul>
      <li>Passed January 2015</li>
    </ul>
</ul>
<br>
<ul>
  <li> <h4>Degree: Economics BA</h4>
    <ul>
      <li>California State University Sacramento</li>
       <li>May 2014</li>
      <li>Focus: Econometrics</li>
      <li>Sacramento, CA</li>
    </ul>
</ul>


<h3 id='miniTitle'>Work Expereince</h3>

<div class='lineDiv'></div>
<br>

<ul>
  <li> <h4>Running IndependentViz</h4>
    <ul>
      <li>May2016 - Present</li>
       <li>Desinging and Engineer Data Vizualisation and UI projects</li>
    </ul>
</ul>

<ul>
  <li> <h4>Direct Technology</h4>
    <ul>
      <li>2015-April2016</li>
       <li>AHA Data Clerk</li>
       <li>Collecting data and generating
         several companies’ healthcare reports
        </li>
       <li>ad hoc excel work</li>
    </ul>
</ul>
