{{> header }}

<div class="container-fluid">
<div id ='titleContainer' class="col-sm-8 col-sm-offset-2		col-md-4 col-md-offset-4" >
<h1 id='title'>Web Apps</h1>
</div>
</div>

<a href = "https://snakefour.herokuapp.com/"><img src="https://dry-headland-57694.herokuapp.com/images/apps_img/SnakeIV.png"  width='150' height"86"> Responsive React-Redux SnakeGame</a>

<p></p>
<div class='lineDiv'></div>


<br>
<a href = "https://github.com/nharrisanalyst/shotChart/blob/master/README.md"><img src="https://dry-headland-57694.herokuapp.com/images/apps_img/shotChartImage.png"  width='150' height"86"> NBA Shot Chart Creator formally nbashotchart.com</a>

<p></p>
<div class='lineDiv'></div>


<br>

<a href = "https://tictactoe-redux-react.herokuapp.com/"><img src="https://dry-headland-57694.herokuapp.com/images/apps_img/Tic-Tac-Toe-React-Redux.png"  width='150' height"86"> React-Redux Tic-Tac-Toe with Jest for Testing</a>

<p></p>
<div class='lineDiv'></div>


<br>

<a href = "https://calculator-react-redux.herokuapp.com/"><img src="https://dry-headland-57694.herokuapp.com/images/apps_img/Calculator-Redux-React.png"  width='150' height"86"> React-Redux Calculator with Jest for Testing</a>

<p></p>
<div class='lineDiv'></div>



</body>
