body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #75aadb;
  color: #000;
}
a {
  color: #7095a3;
}
#header {
  float: left;
  text-align: center;
}
.headers {
  margin-right: 50px;
  color: #fff;
}
#title {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  color: #000;
}
#titleContainer {
  text-align: center;
}
#homepageAbout {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
